/* ===== MAIN CONTENT ===== */
.main{
    flex:1;
    padding:30px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.top-actions{
    display:flex;
    gap:10px;
    align-items:center;
}

#searchInput{
    padding:8px 12px;
    border-radius:8px;
    border:1px solid #ddd;
    width:400px;
    transition:0.2s;
}

#searchInput:focus{
    outline:none;
    border-color:#3b82f6;
}

/* ===== TOPBAR ===== */
.topbar{
    width:100%;
    max-width:900px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.page-title{
    font-size:26px;
    font-weight:600;
}

/* ===== BUTTON ADD ===== */
.btn-add{
    padding:10px 18px;
    background:#2563eb;
    color:#fff;
    border:none;
    border-radius:8px;
    cursor:pointer;
    transition:0.2s;
}

.btn-add:hover{
    background:#1d4ed8;
}

/* ===== GRID CLASS ===== */
.class-grid{
    width:100%;
    max-width:900px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap:25px;
}

/* ===== CARD ===== */
.class-card{
    background:#fff;
    padding:20px;
    border-radius:14px;
    box-shadow:0 6px 18px rgba(0,0,0,0.08);
    transition:0.25s;
}

.class-card:hover{
    transform:translateY(-6px);
    box-shadow:0 12px 25px rgba(0,0,0,0.15);
}

/* ===== TITLE ===== */
.class-title{
    font-size:18px;
    font-weight:600;
    margin-bottom:5px;
}

/* ===== ID ===== */
.class-id{
    font-size:13px;
    color:#64748b;
}

/* ===== BUTTON ACTION ===== */
.card-actions{
    margin-top:15px;
    display:flex;
    gap:10px;
}

.card-actions button{
    flex:1;
    padding:8px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:14px;
    transition:0.2s;
}

/* EDIT */
.btn-edit{
    background:#facc15;
}

/* DELETE */
.btn-delete{
    background:#ef4444;
    color:white;
}

/* HOVER */
.card-actions button:hover{
    transform:scale(1.05);
}

/* ===== POPUP ===== */
.popup{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    display:flex;
    justify-content:center;
    align-items:center;
}

/* ẨN */
.hidden{
    display:none;
}

/* BOX */
.popup-box{
    background:#fff;
    padding:25px;
    border-radius:12px;
    width:320px;
    animation:fade 0.25s ease;
}

/* ANIMATION */
@keyframes fade{
    from{
        transform:scale(0.8);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}

/* INPUT */
.popup-box input{
    width:100%;
    padding:10px;
    margin:15px 0;
    border:1px solid #ccc;
    border-radius:6px;
}

/* BUTTON GROUP */
.popup-actions{
    display:flex;
    gap:10px;
}

/* SAVE */
.btn-save{
    flex:1;
    padding:10px;
    background:#22c55e;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

/* CANCEL */
.btn-cancel{
    flex:1;
    padding:10px;
    background:#ef4444;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

/* HOVER */
.btn-save:hover{
    background:#16a34a;
}

.btn-cancel:hover{
    background:#dc2626;
}