.table {
    width: 100%;
    border-collapse: collapse;
    color: #f9f9f9;
}

.table td, .table th {
    border: 1px solid #ccc;
    padding: 10px;
}

.correct {
    background: lightgreen;
    font-weight: bold;
}