*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial;
}

body{
    background:#f1f5f9;
}

/* ===== LAYOUT ===== */
.container{
    display:flex;
    min-height:100vh;
}


/* ===== MAIN ===== */
.main{
    flex:1;
    padding:25px;
}

.title{
    text-align:center;
    margin-bottom:25px;
    font-size:22px;
    font-weight:bold;
}

/* ===== CARDS ===== */
.cards{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    gap:20px;
}

.card{
    background:#fff;
    padding:20px;
    border-radius:16px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

/* phần màu */
.card-main{
    padding:25px;
    border-radius:12px;
    text-align:center;
    color:#fff;
    margin-bottom:15px;

    transition:0.3s;
}

.card-main:hover{
    transform:scale(1.03);
}

/* màu gradient */
.blue{ background:linear-gradient(135deg,#3b82f6,#60a5fa); }
.red{ background:linear-gradient(135deg,#ef4444,#f87171); }
.purple{ background:linear-gradient(135deg,#8b5cf6,#a78bfa); }

/* ===== BUTTON ===== */
button{
    width:100%;
    padding:10px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    margin-top:10px;
    transition:0.2s;
}

button:hover{
    opacity:0.9;
}

.btn-primary{ background:#3b82f6; color:#fff; }
.btn-danger{ background:#ef4444; color:#fff; }
.btn-purple{ background:#8b5cf6; color:#fff; }

/* ===== BOTTOM ===== */
.bottom{
    margin-top:25px;
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:20px;

    align-items:stretch;
}
.chart-box{
    min-height:400px;   /* 🔥 QUAN TRỌNG */
}
.chart-box,
.news-box{
    background:#fff;
    padding:20px;
    border-radius:16px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    height:100%;        /* 🔥 thêm */
}

/* news */
.news-item{
    margin-bottom:12px;
}

.news-item b{
    display:block;
    margin-bottom:4px;
}

/* ===== RESPONSIVE ===== */
@media(max-width:900px){
    .cards{
        grid-template-columns:1fr;
    }

    .bottom{
        grid-template-columns:1fr;
    }

    .sidebar{
        width:200px;
    }
}